@import "tailwindcss";

@layer base {
  h3 {
    @apply text-dark-grayish-blue mb-8 text-4xl font-bold md:text-5xl;
  }
  h5 {
    @apply text-dark-grayish-blue mb-2 text-2xl font-bold;
  }
}

@theme {
  --color-strong-cyan: hsl(171, 66%, 44%);
  --color-light-blue: hsl(233, 100%, 69%);
  --color-dark-grayish-blue: hsl(210, 10%, 33%);
  --color-grayish-blue: hsl(201, 11%, 66%);

  --font-sans: "Bai Jamjuree", sans-serif;
}

body {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 576px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
}

.section-container {
  @apply mx-auto max-w-6xl px-10 text-center;
}

.button-container {
  @apply flex w-full flex-col justify-center space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
}

.section-content {
  @apply text-grayish-blue mx-auto max-w-3xl text-2xl;
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
    brightness(101%) contrast(94%);
  transition: all 1s ease-in-out;
}
